[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/termcolor"]
	path = extern/termcolor
	url = https://github.com/ikalnytskyi/termcolor
